    <title>Stack Underflow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script>const socket = io("ws://localhost:8000");</script>
    <script src='/js/events.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="/js/iziToast.js" type="text/javascript"></script>

    <script src="./js/markdown.js" type="text/javascript"></script>
    <script src="./js/showdown.js" type="text/javascript"></script>
    <script src="./js/search.js" type="text/javascript"></script>
    
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/super-build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector('#editor'))
            .catch( error => {
                console.error( error );
            } );
    </script>

    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/iziToast.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/darkstyle.css">
    <link rel="stylesheet" href="../styles/answers.css">
    <link rel="stylesheet" href="../styles/questions.css">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/iziToast.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/darkstyle.css">
    <link rel="stylesheet" href="../styles/answers.css">
    <link rel="stylesheet" href="../styles/questions.css">