
        <div class="main-content">
            <div class="votes">
                <!-- upvote button image -->
                <img src="../public/images/upvote.png" width="30" height="30" alt="upvote button">
                <p>0</p> <!-- Will be dynamically generated -->
                <!-- downvote button image -->
                <img src="../public/images/downvote.png" width="30" height="30" alt="downvote button">
            </div>
            <div class="answer-body">
                <p>This is the answer's body. It shall be dynamically loaded in the following days.</p>
                <p>Here, if any, the code in question will be placed</p>
            </div>
            <div class="modify-content-buttons">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>

            <div class="user-answered">
                <p>Answered by <a href="#">user1</a></p>
                <!-- add also user profile picture  -->
            </div>

            <div class="answer-comments">
                <p>Comments:</p>
                <p>Comment 1</p>
                <p>Comment 2</p>
                <p>Comment 3</p>
            </div>

            <div class="add-comment">
                <p>Add a comment:</p>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <button class="add-comment">Add comment</button>
            </div>
        </div>
