<!-- Password Reset page -->


<div class="row mt-5">
    <div class="col-md-7 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-5"><i class="fa fa-envelope"></i> Please check your email</h1>
            <%- include('./partials/messages.ejs'); -%>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-primary">Return To Homepage</a>
        </div>
    </div>
</div>

