<h1 class="mt-4">You have been succesfully logged in as <%= name %> </h1>
<p class="lead mb-3">Welcome  <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/">Proceed to Questions page</a>