<html>

<%- include ('includes/head') %>

<body>

    <section>
        <img class="welcome" src="../images/Stack%20Underflow.png">
    </section>

</body>

<script src="./js/search.js">

</script>
</html>