
        <h1 class="questionTitle">Question title</h1>

        <div class="main-content">

            <div class="question-content">

                <div class="question-title">
                    <h3>Question Title</h3>
                </div>

                <div class="visits">
                    Viewed by X people
                </div>

                <div class="votes">
                    <a href="./index.html"><img src="./images/upvote.png" width="30" height="30"
                                                alt="upvote button"></a>
                    <p class="pvotes">0</p>
                    <a href="./index.html"><img src="./images/downvote.png" width="30" height="30"
                                                alt="downvote button"></a>
                </div>

                <div class="actual-question">
                    <p>Here we will be placing the actual question</p>
                </div>

                <div class="question-tags">
                    <p>Tags: <a href="index.html">Tag1</a>, <a href="index.html">Tag2</a>, <a
                                href="index.html">Tag3</a></p>
                </div>

                <div class="modify-content-buttons">
                    <a href="index.html">Edit</a>
                    <a href="index.html">Delete</a>
                </div>

                <div class="user-details">

                    <div class="user-asked">
                        <p>Asked by <a href="#">user1</a></p>
                        <!-- add also user profile picture  -->
                    </div>

                    <div class="date-asked">
                        <p>Asked on: X</p>
                    </div>

                </div>

                <div class="number-of-answers">
                    X answers
                </div>
            </div>

            <div class="answer-content">

                <div class="answer-title">
                    <h3>Answer Title</h3>
                </div>

                <div class="votes">
                    <a href="./index.html"><img src="./images/upvote.png" width="30" height="30"
                                                alt="upvote button"></a>
                    <p class="pvotes">0</p>
                    <a href="./index.html"><img src="./images/downvote.png" width="30" height="30"
                                                alt="downvote button"></a>
                </div>

                <div class="actual-answer">
                    <p>Here we will be placing the actual answer</p>
                </div>

                <div class="modify-content-buttons">
                    <a href="index.html">Edit</a>
                    <a href="index.html">Delete</a>
                </div>

                <div class="user-details">

                    <div class="user-answered">
                        <p>Answered by <a href="#">user1</a></p>
                        <!-- add also user profile picture  -->
                    </div>

                    <div class="date-answered">
                        <p>Answered on: X</p>
                    </div>

                </div>


            </div>

            <div class="your-answer">
                <!-- The answer to the questions will be decided as follows:
                 If there already exists some answer, then a button (add another answer) shall be displayed in the
                 bottom of the page, otherwise, a textarea with markdown content shall be displayed
              -->

                <!-- version 1: button -->
                <div class="add-another-answer">
                    <a href="index.html">Add another answer</a>
                </div>

                <!-- version 2: textarea -->
                <form class="answer">
                    <!-- This will be a text area in which the users shall be able to answer to questions in markdown format -->
                    <label for="answer">Possible Answers?</label>
                    <textarea id="answer" class="textarea" name="answer" cols="10" rows="15" placeholder="Write your answer here"></textarea>
                    <input type="submit" class="submit-answer" value="Submit">
                </form>
            </div>
        </div>
        <script src="./js/markdown.js">
        </script>
